/**********Import Font from Google Font*********/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;0,800;0,900;1,300;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,700;0,800;0,900;1,300;1,400;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/***********************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --color-primary: #37C2A5;
  --color-danger: #FC9D17;

  --color-white: #ffffff;
  --color-light: #ccd0cf;

  --color-black: #292629;
  --color-dark: #000000;

  --transition: .4 ease;
}

html {
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif;
}

body {
  background: var(--color-black);
  color: var(--color-white);
}

h1 {
  font-size: 52px;
  font-weight: 500;
  line-height: 60px;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
}

h3 {
  font-size: 46px;
  font-weight: 400;
  line-height: 54px;
}

h4 {
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
}

h5 {
  font-size: 25px;
  font-weight: 300;
  line-height: 34px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

small {
  color: var(--color-light);
  font-size: 14px;
}

span {
  color: var(--color-danger);
}

.btn {
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid var(--color-white);
  padding: 18px 40px;
  color: var(--color-primary);
  border-radius: 50px;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-primary);
  border-color: var(--color-white);
}

.btn-primary {
  color: var(--color-dark);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-danger {
  background: var(--color-danger);
  color: var(--color-dark);
  border-color: var(--color-danger);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.container {
  width: 90%;
  height: calc(100vh - 3em);
  margin: 3em auto 0;
  max-width: 1480px;
}

section {
  padding: 20px 0;
}