@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

/* Home */
.home-container{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
}

.l-home{
  display: flex;
  flex-direction: column;
  gap: 12px;
  place-items: center;
}

.r-home{
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 16px;
}


/* Employee */
.emp-container{
  padding-top: 12px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  /* margin-top: 12px; */
  text-align: center;
}

.data-table th,
td {
  padding: 8px;
}

.data-table th {
  background-color: var(--color-primary);
  border-radius: 50px;
  color: var(--color-black)
}

.data-table tbody tr:nth-child(even) {
  background-color: var(--color-white);
  color: var(--color-dark);
}

